<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="application.CNY_TDG.dbo" connectionString="XpoProvider=MSSqlServer;data source=172.16.0.235;user id=;password=;initial catalog=CNY_TDG;Persist Security Info=true"/>
        <add name="application1.CNY_TDG.dbo" connectionString="XpoProvider=MSSqlServer;data source=172.16.0.235;user id=;password=;initial catalog=CNY_TDG;Persist Security Info=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
